*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    line-height: 1.5;
}

header{
    padding: 10px;
}

h1{
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 10px;
}
h3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 1rem;
    margin-top: 15px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

section{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 30px;
}



.main-container{
    text-align: center;
    
}
.game-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
}

.user-icon{
    width: 30%;
    align-self: center;
}
.computer-icon{
    width: 30%;
    align-self: center;
}

.grid{
    border: 3px solid black;
    height: 130px;
    font-size: 2rem;
}

.grid:hover{
    background: rgb(243, 236, 236);
    border-radius: 5px;
}

.right-sideborder{
    border-right: none;
}

.bottom-border{
    border-bottom: none;
}

.left-sideborder{
    border-left: none;
}

.upborder{
    border-top: none;
}


/* *****************
    MEDIA QUERY
************** */

@media(max-width: 800px){
    .game-container{
        width: 60%;
    }
    
    .user-icon{
        width: 15%;
        font-size: 7px;
        text-align: left;
    }
    .computer-icon{
        width: 15%;
        font-size: 7px;
        text-align: right;
    }

    section{
        margin: 10px 15px;
    }

    h4{
        font-size: 10px;
    }
}